@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
}

button,
a,
input,
textarea {
  -webkit-tap-highlight-color: transparent;
}

:root {
  --clr-green-100: #39b826;
  --clr-blue-100: #edf4fc;
  --clr-blue-500: #88bcf7;
  --clr-blue-600: #70b1f1;
  --clr-blue-800: #398ff2;
  --clr-blue-900: #4960ef;
  --clr-yellow: #f7d917;
  --clr-white: #ffffff;
  --clr-dark: #333333;
  --clr-danger: #d10000;
  --font-family: Arial, sans-serif;
}

.c-avatar {
  display: grid;
  place-items: center;
  border: 1px solid var(--clr-blue-600);
  border-radius: 50%;
  width: 40px;
  aspect-ratio: 1/1;
  padding: 4px;
  position: relative;
}
.c-avatar img {
  object-fit: cover;
  border-radius: 50%;
}
.c-avatar::after {
  content: "";
  width: 8px;
  aspect-ratio: 1/1;
  border-radius: 50%;
  background-color: var(--clr-green-100);
  position: absolute;
  top: -3px;
  right: -3px;
  border: 3px solid var(--clr-blue-100);
}

.c-book {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--clr-white);
  border: none;
  padding: 8px;
  border-radius: 16px;
  color: inherit;
  font-family: var(--font-family);
  cursor: pointer;
  transition: all 250ms ease;
}
.c-book__title {
  font-weight: 900;
  text-align: center;
}
.c-book__title i {
  font-size: 24px;
  display: block;
  margin-bottom: 4px;
}
.c-book__title__book-name {
  text-wrap: nowrap;
  text-transform: uppercase;
}
.c-book:not(.c-book--active) .c-book__chapters {
  color: var(--clr-white);
  background-color: var(--clr-blue-800);
  font-weight: 700;
}
.c-book__chapters {
  display: flex;
  font-size: 10px;
  padding: 2px 6px;
  border-radius: 16px;
  margin-top: 8px;
  text-wrap: nowrap;
  font-weight: 900;
}
.c-book.c-book--active, .c-book:hover {
  background: var(--clr-blue-900);
  background-image: linear-gradient(90deg, var(--clr-blue-900) 0%, var(--clr-blue-800) 100%);
  color: var(--clr-white);
}
.c-book.c-book--active .c-book__chapters, .c-book:hover .c-book__chapters {
  background-color: var(--clr-yellow);
  color: initial;
}

.c-bottom-navigation {
  position: fixed;
  inset: auto 0 0 0;
  background-color: var(--clr-blue-100);
  height: 60px;
  -webkit-box-shadow: 1px 0px 5px 0px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 1px 0px 5px 0px rgba(0, 0, 0, 0.5);
  box-shadow: 1px 0px 5px 0px rgba(0, 0, 0, 0.5);
}
.c-bottom-navigation__list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  height: inherit;
}
.c-bottom-navigation__list__item__button {
  display: flex;
  background-color: transparent;
  flex-direction: column;
  align-items: center;
  gap: 4px;
  border: none;
  height: inherit;
  color: inherit;
  min-width: 90px;
  position: relative;
  cursor: pointer;
  overflow: hidden;
}
.c-bottom-navigation__list__item__button i {
  font-size: 24px;
  translate: 0 10px;
  transition: 200ms 0ms;
}
.c-bottom-navigation__list__item__button div {
  translate: 0 28px;
  transition: 300ms;
  padding: 2px 4px;
  position: relative;
}
.c-bottom-navigation__list__item__button div::before {
  content: "";
  width: 100%;
  height: 100%;
  display: block;
  left: 50%;
  top: 50%;
  translate: -150px -50%;
  background-color: var(--clr-blue-900);
  z-index: -1;
  position: absolute;
  border-radius: 2px;
  transition: 500ms 500ms;
}
.c-bottom-navigation__list__item__button div span {
  transition: 250ms 750ms;
}
.c-bottom-navigation__list__item__button.c-bottom-navigation__list__item__button--active i, .c-bottom-navigation__list__item__button:hover i {
  translate: 0 0;
  transition: 200ms 150ms;
  color: var(--clr-blue-900);
}
.c-bottom-navigation__list__item__button.c-bottom-navigation__list__item__button--active i.fa-solid.fa-star, .c-bottom-navigation__list__item__button:hover i.fa-solid.fa-star {
  animation: pulse 500ms linear 5;
}
.c-bottom-navigation__list__item__button.c-bottom-navigation__list__item__button--active i.fa-solid.fa-gear, .c-bottom-navigation__list__item__button:hover i.fa-solid.fa-gear {
  rotate: 360deg;
}
.c-bottom-navigation__list__item__button.c-bottom-navigation__list__item__button--active i.fa-solid.fa-circle-arrow-left, .c-bottom-navigation__list__item__button:hover i.fa-solid.fa-circle-arrow-left {
  animation: slide 800ms ease-in-out 3;
}
.c-bottom-navigation__list__item__button.c-bottom-navigation__list__item__button--active div, .c-bottom-navigation__list__item__button:hover div {
  translate: 0 0;
}
.c-bottom-navigation__list__item__button.c-bottom-navigation__list__item__button--active div::before, .c-bottom-navigation__list__item__button:hover div::before {
  translate: -50% -50%;
}
.c-bottom-navigation__list__item__button.c-bottom-navigation__list__item__button--active div span, .c-bottom-navigation__list__item__button:hover div span {
  color: var(--clr-white);
}

@keyframes pulse {
  0%, 100% {
    font-weight: 900;
  }
  50% {
    font-weight: 400;
  }
}
@keyframes slide {
  0%, 100% {
    transform: translateX(8px);
  }
  50% {
    transform: translateX(-8px);
  }
}
.c-chapter {
  border: none;
  width: 32px;
  aspect-ratio: 1/1;
  border-radius: 4px;
  background: var(--clr-white);
  cursor: pointer;
  transition: all 250ms ease;
  display: flex;
  align-items: center;
  justify-content: center;
}
.c-chapter.c-chapter--active, .c-chapter:hover {
  background: var(--clr-blue-900);
  background-image: linear-gradient(90deg, var(--clr-blue-900) 0%, var(--clr-blue-800) 100%);
  color: var(--clr-white);
}
.c-chapter.c-chapter--active .c-chapter__chapters, .c-chapter:hover .c-chapter__chapters {
  background-color: var(--clr-yellow);
  color: initial;
}

.c-chip {
  position: relative;
  background-color: var(--clr-white);
  padding: 2px 8px;
  border-radius: 4px;
  cursor: pointer;
}
.c-chip:has(input:focus-visible) {
  outline: -webkit-focus-ring-color auto 1px;
}
.c-chip:has(input:checked), .c-chip:hover {
  background: var(--clr-blue-900);
  background-image: linear-gradient(90deg, var(--clr-blue-900) 0%, var(--clr-blue-800) 100%);
  color: var(--clr-white);
}
.c-chip input {
  opacity: 0;
  position: absolute;
}

.c-loader {
  --d: 22px;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  color: var(--clr-blue-800);
  box-shadow: calc(1 * var(--d)) calc(0 * var(--d)) 0 0, calc(0.707 * var(--d)) calc(0.707 * var(--d)) 0 1px, calc(0 * var(--d)) calc(1 * var(--d)) 0 2px, calc(-0.707 * var(--d)) calc(0.707 * var(--d)) 0 3px, calc(-1 * var(--d)) calc(0 * var(--d)) 0 4px, calc(-0.707 * var(--d)) calc(-0.707 * var(--d)) 0 5px, calc(0 * var(--d)) calc(-1 * var(--d)) 0 6px;
  animation: l27 1s infinite steps(8);
  user-select: none;
}

@keyframes l27 {
  100% {
    transform: rotate(1turn);
  }
}
.c-search {
  display: flex;
  align-items: center;
  background-color: var(--clr-white);
  padding: 8px 16px;
  border-radius: 16px;
  gap: 4px;
  overflow: hidden;
}
.c-search:has(input:focus-visible) {
  outline: -webkit-focus-ring-color auto 1px;
}
.c-search:has(input:focus-visible) .c-search__input {
  translate: -20px;
}
.c-search:has(input:focus-visible) [for=search] {
  translate: -30px;
}
.c-search__input,
.c-search [for=search] {
  transition: all 250ms ease;
}
.c-search__input {
  border: none;
  outline: none;
  font-family: var(--font-family);
  font-weight: 600;
}
.c-search__input::placeholder {
  font-family: inherit;
}

.c-tooltip {
  position: fixed;
  background-color: var(--clr-blue-100);
  padding: 4px 8px;
  min-width: 80px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  -webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.5);
}
.c-tooltip[aria-hidden=true] {
  display: none;
}
.c-tooltip button {
  border: none;
  background-color: transparent;
  transition: 250ms;
  cursor: pointer;
}
.c-tooltip button:hover, .c-tooltip button:focus {
  scale: 1.1;
}
.c-tooltip__favorite {
  font-size: 19px;
}
.c-tooltip__favorite--active {
  color: var(--clr-yellow);
}
.c-tooltip__favorite--active i::before {
  font-weight: 900;
}
.c-tooltip__share {
  font-size: 17px;
}
.c-tooltip__copy {
  font-size: 17px;
}
.c-tooltip__cancel {
  color: var(--clr-danger);
  font-size: 24px;
}
.c-tooltip::before {
  content: "";
  position: absolute;
  display: block;
  width: 20px;
  aspect-ratio: 1/1;
  background-color: var(--clr-blue-100);
  bottom: -4px;
  rotate: 45deg;
  z-index: -1;
}

.s-hide-scrollbar {
  overflow: auto; /* or scroll */
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer 10+ */
}
.s-hide-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari, and Opera */
}

.s-is-loading {
  display: none;
}

.l-bible__text {
  line-height: 18px;
  padding-bottom: 4px;
  text-align: justify;
  cursor: default;
}
.l-bible__text--pending {
  background-color: var(--clr-blue-900);
  color: var(--clr-white);
}
.l-bible__text--selected {
  background-color: var(--clr-yellow);
}
.l-bible__text__number {
  vertical-align: super;
  font-weight: 900;
  font-size: 10px;
}

body {
  padding-bottom: 58px;
}
body:has(.l-header__user--fixed) {
  --heigth-element: 72px;
  padding-top: var(--heigth-element);
}

.l-chips {
  display: flex;
  align-items: center;
  gap: 8px;
  position: relative;
}
.l-chips fieldset {
  position: absolute;
  opacity: 0;
}

.l-container {
  margin-inline: auto;
  padding-inline: 16px;
  max-width: 1024px;
}

@media (width > 1024px) {
  .l-container--lg {
    margin-inline: auto;
    max-width: 1024px;
  }
}

.l-footer {
  margin-top: 40px;
  text-align: center;
  font-size: 12px;
  height: 80px;
  padding: 16px;
}
.l-footer::before {
  content: "";
  height: 2px;
  width: 30px;
  display: block;
  margin: 8px auto 16px;
  background-color: var(--clr-dark);
}

.l-header {
  padding-block: 16px;
}
.l-header__user {
  transition: 1s;
  max-width: 100%;
}
.l-header__user:not(.l-header__user--fixed) {
  margin-bottom: 24px;
}
.l-header__user__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  gap: 8px;
}
.l-header__user .l-header__logo {
  max-height: 40px;
}
@media (width > 440px) {
  .l-header__user .c-search {
    margin-left: auto;
  }
}
.l-header__user--fixed {
  position: fixed;
  inset: 0 0 auto 0;
  padding: 16px;
  background-color: var(--clr-blue-900);
  z-index: 2;
  -webkit-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.5);
}
.l-header__user--fixed .c-avatar {
  background-color: var(--clr-blue-100);
}
.l-header__user--fixed .c-avatar::after {
  border-color: var(--clr-blue-900);
}
.l-header__nav:not(:first-child) {
  margin-top: 16px;
}
.l-header__nav__header {
  display: flex;
  align-items: center;
  gap: 12px;
}
.l-header__nav__title {
  font-weight: 900;
  font-size: 20px;
}
.l-header__nav__books, .l-header__nav__chapters {
  display: flex;
  gap: 16px;
  padding-block: 4px;
  margin-top: 8px;
  /* Estilos gerais para todos os navegadores */
  -ms-overflow-style: none; /* Internet Explorer e Edge */
  scrollbar-width: none; /* Firefox */
  overflow-y: scroll; /* Ativa a rolagem vertical */
  /* Estilos específicos para WebKit/Blink */
}
.l-header__nav__books::-webkit-scrollbar, .l-header__nav__chapters::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}
.l-header__nav__books > *:first-child, .l-header__nav__chapters > *:first-child {
  margin-left: 16px;
}
.l-header__nav__books > *:last-child, .l-header__nav__chapters > *:last-child {
  margin-right: 16px;
}
.l-header__nav__chapters {
  gap: 8px;
}

.l-loader {
  position: fixed;
  inset: 0;
  display: grid;
  place-items: center;
  z-index: 999;
  background-color: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(2px);
}
.l-loader span {
  position: absolute;
  opacity: 0;
}

.l-nav-footer {
  margin-top: 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.l-nav-footer__button {
  border: none;
  background: none;
  font-size: 32px;
  cursor: pointer;
  transition: 250ms;
}
.l-nav-footer__button:not(:disabled) {
  color: var(--clr-blue-900);
}
.l-nav-footer__button:not(:disabled):hover {
  color: var(--clr-blue-800);
}
.l-nav-footer__button:disabled {
  cursor: not-allowed;
}
.l-nav-footer__book {
  font-size: 24px;
}

body {
  --font-family: "M PLUS Rounded 1c", Arial, sans-serif;
  min-height: 100vh;
  font-family: var(--font-family);
  background-color: var(--clr-blue-100);
  color: var(--clr-dark);
}
body::-webkit-scrollbar {
  width: 0.5rem;
}
body::-webkit-scrollbar-thumb {
  background: linear-gradient(var(--clr-blue-500), var(--clr-blue-900));
  border-radius: 4px;
}

/*# sourceMappingURL=style.css.map */
