@import url("https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c&display=swap");

body {
  --font-family: "M PLUS Rounded 1c", Arial, sans-serif;
  min-height: 100vh;
  font-family: var(--font-family);
  background-color: var(--clr-blue-100);
  color: var(--clr-dark);
}
