@import url("https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c&display=swap");

body {
  --font-family: "M PLUS Rounded 1c", Arial, sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: var(--font-family);
  background-color: var(--clr-blue-100);
  color: var(--clr-dark);

  &::-webkit-scrollbar {
    width: 0.5rem;
  }
  &::-webkit-scrollbar-thumb {
    background: linear-gradient(var(--clr-blue-500), var(--clr-blue-900));
    border-radius: 4px;
  }
}
