$name: ".l-bible";

#{$name} {
  &__text {
    line-height: 18px;
    padding-bottom: 4px;
    text-align: justify;
    cursor: default;

    &--favorite {
      background-color: var(--clr-yellow);
    }

    &__number {
      vertical-align: super;
      font-weight: 900;
      font-size: 10px;
    }
  }
}
