$name: ".l-header";

#{$name} {
  padding-block: 16px;

  &__user {
    transition: 1s;
    max-width: 100%;

    &:not(&--fixed) {
      margin-bottom: 24px;
    }

    &__content {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      gap: 8px;
    }

    #{$name}__logo {
      max-height: 40px;
    }

    @media (width > 440px) {
      .c-search {
        margin-left: auto;
      }
    }

    &--fixed {
      position: fixed;
      inset: 0 0 auto 0;
      padding: 16px;
      background-color: var(--clr-blue-900);
      z-index: 2;
      @include box-shadow(0px 1px 5px 0px rgba(0, 0, 0, 0.5));

      .c-avatar {
        background-color: var(--clr-blue-100);

        &::after {
          border-color: var(--clr-blue-900);
        }
      }
    }
  }

  &__nav:not(:first-child) {
    margin-top: 16px;
  }

  &__nav {
    &__header {
      display: flex;
      align-items: center;
      gap: 12px;
    }

    &__title {
      font-weight: 900;
      font-size: 20px;
    }

    &__books,
    &__chapters {
      display: flex;
      gap: 16px;
      padding-block: 4px;
      margin-top: 8px;

      @include hide-scrollbar;

      & > *:first-child {
        margin-left: 16px;
      }

      & > *:last-child {
        margin-right: 16px;
      }
    }

    &__chapters {
      gap: 8px;
    }
  }
}
