$name: ".l-loader";

#{$name} {
  position: fixed;
  inset: 0;
  display: grid;
  place-items: center;
  z-index: 999;
  background-color: var(--clr-blue-100);

  span {
    position: absolute;
    opacity: 0;
  }
}
