:root {
  --clr-green-100: #39b826;
  --clr-blue-100: #edf4fc;
  --clr-blue-500: #88bcf7;
  --clr-blue-600: #70b1f1;
  --clr-blue-800: #398ff2;
  --clr-blue-900: #4960ef;
  --clr-yellow: #f7d917;
  --clr-white: #ffffff;
  --clr-dark: #333333;
  --font-family: Arial, sans-serif;
}
